In [24]:
#import packages
import pandas as pd
import numpy as np
import seaborn as sns
import pandas_profiling as pp
import matplotlib.pyplot as plt

In [23]:
#import data
df = pd.read_csv('casestudy.csv')
df.set_index('Unnamed: 0', inplace = True)
df.head()

                   customer_email  net_revenue  year
Unnamed: 0
0            nhknapwsbx@gmail.com       249.92  2015
1            joiuzbvcpn@gmail.com        87.61  2015
2            ukkjctepxt@gmail.com       168.38  2015
3            gykatilzrt@gmail.com        62.40  2015
4            mmsgsrtxah@gmail.com        43.08  2015

In [26]:
#total revenue for the current year
#i'm going to assume the current year is 2017 the latest year th
rev1 = df[df['year'] == 2017]
rev1 = rev1['net_revenue'].sum()
print('Revenue for Current Year: ' + str(rev1))

Revenue for Current Year: 31417495.030000016

In [27]:
#new customer revenue
#I'm going to assume that this refers to customers in 2016 and 2017
rev2 = df.loc[(df['year'] == 2016) | (df['year'] == 2017)]
rev2 = rev2['net_revenue'].sum()
print('Revenue for New Customers: ' + str(rev2))

Revenue for New Customers: 57148438.62000001

In [ ]:
#existing customer growth
rev3 = df.loc[(df['year'] == 2016)].sum()

ecg = rev1 - rev3
print('Existing Customer Growth: ' + str(ecg))